body { padding-bottom: 40px; }

body.dark {
    background-color: #121212;
    color: #e0e0e0;
}

body.dark .table,
body.dark .form-control,
body.dark .form-select {
    background-color: #333;
    color: #e0e0e0;
}

body.dark .btn-primary {
    background-color: #0069d9;
}
